
	 @/atom:D2P/1      1.008  # HRA2 
	 @/atom:D2P/2      1.008  # HGA2 
	 @/atom:D2P/3      1.008  # HGA3 
	 @/atom:D2P/4     12.011  # CG2R53 
	 @/atom:D2P/5     12.011  # CG321 
	 @/atom:D2P/6     12.011  # CG331 
	 @/atom:D2P/7     12.011  # CG3C52 
	 @/atom:D2P/8     14.007  # NG2R53 
	 @/atom:D2P/9    15.9994  # OG2D1 
    @/atom:EG/1 1.008    # HCA2
    @/atom:EG/2 1.008    # HCP1
	@/atom:EG/3 12.011   # CC32A
	@/atom:EG/4 15.9994  # OC311

    @/atom:Ag/1 107.8682  # Ag
